/* ////////////////////////// TEMP STYLE ////////////////////////// */

/* MUSIC CONTROLLER */
#music-controller {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: .25;
}
#music-controller:hover {
    opacity: 1;
}

/* logo margin */
@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: 15px;
    }
}
/* logo margin end */

.navbar-pages {
    position: absolute;
}


.font-pink {
    color: #d47777;
    font-weight: bold;
}

.font-resume {
    color: #4f8fc7;
    font-weight: bold;
}





.temp-bg-img {
    background-image: url(../images/temp-musicbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*.bold-600 {*/
    /*font-weight: 600;*/
/*}*/
/*.h2 {*/
    /*font-size: 30px;*/
/*}*/


/*p.h3 {*/
    /*font-size: 24px;*/
    /*line-height: 1.25;*/
/*}*/
/*p.h4 {*/
    /*font-size: 18px;*/
/*}*/
/*p.ph5 {*/
    /*font-size: .7em;*/
/*}*/

/* ////////////////////////// END TEMP STYLE ////////////////////////// */

li {
    list-style-type: none;
}

/*.linkme {*/
    /*color: #579f6a;*/
/*}*/
/*.linkme:hover {*/
    /*color: #45ADA8;*/

/*}*/

/*#about h1 {*/
    /*color: #45ADA8;*/
/*}*/

/*.featureimg {*/
    /*margin: 20px 0px;*/
/*}*/

/*.mar-btm-lg {*/
    /*margin-bottom: 40px;*/
/*}*/

/*.img-sm {*/
    /*width: 25%;*/
/*}*/
/*.img-md {*/
    /*width: 50%;*/
/*}*/
/*.img-lg {*/
    /*width: 75%;*/
/*}*/


/*.li-space li {*/
    /*border-bottom: 1px solid rgba(167, 227, 181, 0.5);*/
    /*padding-bottom: 5px;*/
/*}*/

/* ACHIEVERS */
/* TAKE YOUR PICK */

/*.takeyourpick>.noteCard>.final>img {*/
    /*display: inline;*/
/*}*/

/* MOBILE ACTION */
/* DASHBOARD */

/*.img-center>img {*/
    /*margin-left: 25%;*/
/*}*/


.hideme {
    display: none;
}

/*.btn-green, .btn-green:focus, .btn-green:active, .btn-green:hover {*/
    /*background-color: #45ADA8 !important;*/
    /*color: #ffffff !important;*/
/*}*/

/* ==========================================================================
   Media Queries
   ========================================================================== */


/*Three column specific markup*/
.one_of_3, .two_of_3, .three_of_3{
    float:left;
}

.one_of_3{
    /*width: 320px;*/
    width:33.3%;
}

.two_of_3{
    width:66.6%;
    /*width:640px;
    background-color: rgb(239, 239, 239);
    margin-bottom: 20px; */
}
@media (max-width: 767px) {
    .two_of_3{
        width: 100%;
    }
}

.three_of_3{
    /*width:960px;*/
    width:100%;
}

/*wrapping styles for project pages*/
/*main content area*/
#content{
    width:720px; float:left;}
/*sidebar with thumbs*/
#sidebar{
    width:319px;float:left;
}

#sidebar img{
    margin-top:10px;
}

/*left hand tiny thumbs in gallery*/
.smallThumb{
    float:left;
    margin: 27px 40px;
    height:95px;
    width:95px;
    opacity:0.8;
    border:#E6E6E6 solid 1px;
    border-radius:15px;
}

.smallThumb:hover{
    opacity:1;
    -webkit-transition: all 500ms cubic-bezier(0.500, 0.210, 0.745, 0.400);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.210, 0.745, 0.400);
    -ms-transition: all 500ms cubic-bezier(0.500, 0.210, 0.745, 0.400);
    -o-transition: all 500ms cubic-bezier(0.500, 0.210, 0.745, 0.400);
    transition: all 500ms cubic-bezier(0.500, 0.210, 0.745, 0.400);
}

/*for three_of_4*/
/*.square_b{*/
    /*margin-left:2%;*/
    /*margin-bottom:30px;*/
    /*margin-top:10px;*/
/*}*/


/*.noteCard h1{*/
    /*margin-top:9px;*/
    /*margin-left:14px;*/
    /*font-size: 2em;*/
    /*line-height:2;*/
    /*font-weight:200; }*/
/*.noteCard h2{*/
    /*font-size:2em;*/
    /*text-align:left;*/
    /*margin-left:14px;*/
    /*margin-bottom:10px;*/
    /*border-bottom:1px solid #d4d4d4;}*/
/*.noteCard p{*/
    /*line-height:1.5;*/
    /*text-align:left;*/
    /*margin-left:14px;*/
    /*font-size:16px;*/
    /*padding-bottom:15px;}*/
/*.noteCard img{*/
    /*margin: 0 auto;*/
    /*display:block;*/
    /*padding-bottom:10px;}*/

p.first{padding-bottom:105px;}

img.leftimg{float:left;padding-right:20px;}
.top{
    margin-top:10px;
}

.subtitle{
    text-align:center;
    color:slategrey;
    font-style:italic;
    font-size: small;
    padding-bottom:20px;
}

.a {
    color: white;
}

.btn-success {
    margin-bottom: 1em;
}



/*.jumbotron {*/
/*transform-origin: 50% 80%;*/
/*animation: imageZoom linear 50s;*/
/*animation-iteration-count: infinite;*/
/*-webkit-animation: imageZoom linear 50s;*/
/*-webkit-animation-iteration-count: infinite;*/
/*-moz-animation: imageZoom linear 50s;*/
/*-moz-animation-iteration-count: infinite;*/
/*-ms-animation: imageZoom linear 50s;*/
/*-ms-animation-iteration-count: infinite;*/
/*}*/

/*@keyframes imageZoom {*/
/*0%, 100% {*/
/*transform: scale(1);*/
/*}*/
/*50% {*/
/*transform: scale(1.24);*/
/*}*/
/*}*/


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.pageFade {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease 1;
    animation:fadeIn ease 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/* ==========================================================================
   About Me
   ========================================================================== */
#aboutme {
    padding: 100px 0;
    background: transparent url('../images/aboutmelayover.png') left;
    background-size: cover;
    background-repeat:no-repeat;
}
#aboutme h2 {
    color: #4aaca7;
}

#aboutme .timeframe p {
    font-size: .85em;

}
#aboutme .timeframe .time-title {
    text-align: right;
    /*font-family: Consolas, Courier, monospace;*/
    /*border-right: 3px solid #45ADA8;*/
    /*height: auto;*/
    /*margin-top: 2%;*/
}

#aboutme .timeframe .time-icon  {
    float: left;
}

#aboutme .timeframe .time-description {
    /*margin-top: 2%;*/
}




/* ==========================================================================
   End About Me
   ========================================================================== */

/* ==========================================================================
   Portfolio Page
   ========================================================================== */
#takeyourpick-title {
    background-image: url(../assets/achievers/takeyourpick/title-bg.png);
    background-position: left;
}

#MAdashboard-title {
    background-image: url(../assets/mobileaction/dashboard/title-bg.png);
    background-position: center;
}
#MAdashboard-development img {
    margin-top: -5px;
}

#sms-title {
    background-image: url(../assets/securemysocial/title-bg3.png);
    background-position: center;
}


#showcase h5 {
    margin-top: 7px;
}

.portfolio-section-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: auto;
    height: auto;
    text-align: center;
}

.portfolio-section h1 {
    color: #fff;
    font-size: 2em;
}
.portfolio-section h3 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 100;
}

.portfolio-section p {
    font-size: .9em;
}

.portfolio-section .quote p {
    font-family: 'Book Antiqua', serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #717171;
}

.portfolio-section .quote span {
    font-family: Consolas, Courier, monospace;
    font-size: 100px;
}


#takeyourpick-final iframe {
    width: 640px ;
    height: 360px ;
}


/* ==========================================================================
   End Portfolio Page
   ========================================================================== */

/* ==========================================================================
   Fonts & Backgrounds
   ========================================================================== */

.font-book {
    font-family: 'Book Antiqua', serif;
}

p.h3 {
    font-size: 24px;
    line-height: 1.25;
}
p.h4 {
    font-size: 18px;
}
p.ph5 {
    font-size: .7em;
}



.font-white{
    color: #ffffff;
}
.font-red {
    color: #B95A5A;;
}
.font-grey-dark {
    color: #515151;
}
.font-blue-grey {
    color: #547980;
}
.font-DD-blue {
    color: #8dafc3;
}
.font-DD-green {
    color: #94bf99;
}
.font-DD-yellow {
    color: #c5bf89;
}
.font-DD-red {
    color: #bc8c89;
}

.bg-grey {
    background-color: #f9f9f9;
}

.bg-fade-red {
    background-color: #F6E3E3;
}

.bg-lines-yellow {
    background-image: url(../images/bg-yellow-lines.png);
    background-position: left;
}
.bg-lines-yellow2 {
    background-image: url(../images/bg-yellow-lines2.png);
    background-position: right;
}

.bg-lines-red {
    background-image: url(../images/bg-red-lines.png);
    background-position: left;
    background-size: cover;
}
.bg-triangle-blue {
    background-image: url(../images/bluelayover.png);
    background-position: left;
    background-size: cover;
}

/* ==========================================================================
   End Fonts & Backgrounds
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 768px) {
    #aboutme .timeframe .time-icon  {
        float: right;
    }

    #takeyourpick-final iframe {
        width: 58%;
        height: 58%;
    }

}
@media (max-width: 991px) {
    #aboutme .timeframe .time-title {
        text-align: left;
        border-left: 3px solid #45ADA8;
        border-right: none;
    }
}
@media (min-width: 1200px) {
    #aboutme .timeframe .time-title {
        margin-top: 2%;
    }
}

/* ==========================================================================
   End Media Queries
   ========================================================================== */